/* General Styling */
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f5f7;
  font-family: 'Arial', sans-serif;
}

/* Container */
.auth-page__container {
  position: relative;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Forms */
.auth-page__form {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.auth-page__sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.auth-page__sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.auth-page__container.right-panel-active .auth-page__sign-in {
  transform: translateX(100%);
}

.auth-page__container.right-panel-active .auth-page__sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

/* Overlay Container */
.auth-page__overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.auth-page__container.right-panel-active .auth-page__overlay-container {
  transform: translateX(-100%);
}

/* Overlay */
.auth-page__overlay {
  background: #000000;
  background: linear-gradient(to right, #000000, #000000);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.auth-page__container.right-panel-active .auth-page__overlay {
  transform: translateX(50%);
}

.auth-page__overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.auth-page__overlay-left {
  transform: translateX(-20%);
}

.auth-page__container.right-panel-active .auth-page__overlay-left {
  transform: translateX(0);
}

.auth-page__overlay-right {
  right: 0;
  transform: translateX(0);
}

.auth-page__container.right-panel-active .auth-page__overlay-right {
  transform: translateX(20%);
}

/* Button Styling */
.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

/* Form Content Styling */
.auth-page__form-content {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

button {
  border-radius: 20px;
  border: 1px solid #000000;
  background-color: #080100;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}
.SignIn{
  color: #000000;
}