/* global.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    flex: 1; /* This will push the footer to the bottom */
  }
  
  .footer {
    background-color: #2d2d32;
    padding: 20px 0;
    width: 100%;
  }
  